/* Banner_5and6 */
.banner_5and6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    margin: 0px 0px 0px 24px;
    width: 760px;
    height: 206px;
}    

/* Banner_5 */

.banner_5 {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;

    width: 360px;


    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
}

.brown_cookie_and_text_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.cookie_notice_title {
    width: 140px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.main_text_5 {
    width: 312px;
    height: 80px;
    margin: 0px 0px 0px 0px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.policy_link {
    color:#FFFFFF
}

.preferences_and_button_5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 312px;
    height: 32px;
}

.preferences_5 {
    width: 160px;
    height: 16px;
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.accept_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;

    width: 85px;
    height: 32px;

    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

}

/* Banner_6 */
.banner_6 {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    
    width: 360px;


    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
}



.brown_cookie_and_text_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.cookie_settings_title {
    width: 140px;
    height: 20px;
    margin: 0px 0px 0px 0px;
    display: flex;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
}

.brown_cookie_png {
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 0px;
}

.main_text_6 {
    width: 328px;
    height: 60px;
    margin: 0px 0px 0px 0px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
}

.two_buttons {
    width: 328px;
    height: 32px;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.grey_button_6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 160px;
    height: 32px;

    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #687F8C;
}

.green_button_6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    
    width: 160px;
    height: 32px;
    
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}